Repository Syufan/ToDo: changes, and which pre-commit hooks are due for each by the changed paths.
All: client-eslint, dotnet-format

client-eslint:
  name: client eslint
  entry: bash
  args:
  - -lc
  - cd client && npx --no-install eslint src --ext .ts,.tsx,.js,.jsx
  language: system
  pass_filenames: false

dotnet-format:
  name: dotnet format
  entry: bash
  args:
  - -lc
  - cd server && dotnet format --verify-no-changes
  language: system
  pass_filenames: false

fix: add lint script
  client/package.json
Due: none

fix: add a valid tag of pre commit
  .pre-commit-config.yaml
Due: none

chore: add .gitignore file
  .gitignore
  server/Program.cs
Due: dotnet-format

docs: update step
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.test.tsx
  client/src/App.tsx
  client/src/index.css
  client/src/index.tsx
  client/src/reportWebVitals.ts
  client/src/setupTests.ts
  doc/step
Due: client-eslint

chore: environment rebuild
  client/package-lock.json
  client/package.json
Due: none

chore: modify style
  server/Program.cs
Due: dotnet-format

chore: style fix
  server/Program.cs
  server/server.csproj
Due: dotnet-format

chore: version changed
  .github/workflows/ci.yaml
Due: none

chore: update ci.yaml version
  .github/workflows/ci.yaml
Due: none

docs: change the git version
  .github/workflows/ci.yaml
Due: none

chore: fix issue
  .github/workflows/ci.yaml
Due: none

chore: detail failure
  .pre-commit-config.yaml
Due: none

chore: detail failure
  .github/workflows/ci.yaml
Due: none

chore: change dotnet version
  .github/workflows/ci.yaml
Due: none

chore: skip the dotnet format cuz the version issue
  .github/workflows/ci.yaml
Due: none

chore: typo fixed
  .github/workflows/ci.yaml
Due: none

docs: add domian
  README.md
Due: none

docs: add structure rule
  doc/server structure
Due: none

feat: add todo domain
  server/Data/Entities/ToDoItem.cs
Due: dotnet-format

chore: add name space
  server/Data/Entities/ToDoItem.cs
Due: dotnet-format

chore: update namespce
  server.Tests/UnitServices/UToDoItemService.cs
  server.Tests/server.Tests.csproj
  server/Data/Entities/ToDoItem.cs
  server/obj/project.assets.json
  server/obj/project.nuget.cache
  server/obj/server.csproj.nuget.dgspec.json
  server/obj/server.csproj.nuget.g.props
  server/obj/server.csproj.nuget.g.targets
Due: dotnet-format

chore: add server.Tests
  .gitignore
Due: none

feat: add get function and test
  doc/step
  server.Tests/server.Tests.csproj
  server/Services/Implementations/ToDoItemService.cs
  server/Services/Interfaces/IToDoItemService.cs
Due: dotnet-format

feat: add add function and test
  server.Tests/UnitServices/UToDoItemService.cs
  server/Data/Entities/ToDoItem.cs
  server/Services/Implementations/ToDoItemService.cs
  server/Services/Interfaces/IToDoItemService.cs
Due: dotnet-format

test: add empty test case
  server.Tests/UnitServices/UToDoItemService.cs
  server/Services/Implementations/ToDoItemService.cs
Due: dotnet-format

feat: get add delete function and tests
  server.Tests/UnitServices/UToDoItemService.cs
  server/Services/Implementations/ToDoItemService.cs
Due: dotnet-format

docs: update step
  doc/step
Due: none

docs: add controller
  doc/step
Due: none

feat: get, add, delete controller with tests
  server.Tests/UnitServices/UToDoController.cs
  server/Controllers/ToDoController.cs
  server/Data/DTO/DTOToDoItem.cs
  server/Data/DTO/ToDoItemMapping.cs
Due: dotnet-format

chore: update data format
  server.Tests/UnitServices/UToDoController.cs
  server/Controllers/ToDoController.cs
  server/Data/DTO/DTOToDoItem.cs
  server/Data/DTO/ToDoItemMapping.cs
Due: dotnet-format

chore: style changed
  server.Tests/UnitServices/UToDoController.cs
  server/Controllers/ToDoController.cs
  server/Services/Implementations/ToDoItemService.cs
Due: dotnet-format

feat: add program.cs
  server/Program.cs
  server/server.csproj
Due: dotnet-format

Path conditions:
  client-eslint: any of: ^client/src/.*\.(js|jsx|ts|tsx)$
  dotnet-format: any of: ^server/.*\.(cs|csproj)$
